/*
05 - Button style
*/

.btn{
    font-family: $default-font;
    text-transform: capitalize;
    font-size:14px;
    letter-spacing: 1px;
    padding: 8px 12px 6px;
    @include border-radius(2px);
    font-weight: 600;
    @include transition(all 0.3s);
    &:hover{
        @include transform(trasnlateY(-5px));
    }
}
.btn-lg{
    padding: 14px 25px;
}
.btn-dark-border{
    border: 2px solid #333;
    color:#333;
    &:hover,&:focus,&.focus,&.active,&.focus:focus,&.active:focus{
        background: #333;
        box-shadow: 0px 0px 20px rgba(#333,.35);
        color:#fff;
    }
}
.btn-skin-border{
    border: 2px solid $skin-color;
    color:$skin-color;
    background-color:transparent;
    &:hover,&:focus,&.focus,&.active,&.focus:focus,&.active:focus{
        background:$skin-color;
        box-shadow: 0px 0px 20px rgba($skin-secondary,.35);
        color:#fff;
    }
}
.btn-white-border{
    border: 2px solid #fff;
    color:#fff;
    background-color:transparent;
    &:hover,&:focus,&.focus,&.active,&.focus:focus,&.active:focus{
        background-color: $skin-color;
        box-shadow: 0px 0px 20px rgba($skin-secondary,.35);
        color:#fff;
    }
}
.btn.btn-dark{
    border:0px;
    background-color: #333;
    color:#fff;
    &:hover,&:focus,&.focus,&.active,&.focus:focus,&.active:focus{
        background-color: #000;
        box-shadow: 0px 0px 20px rgba(#000,.35);
        color:#fff;
    }
}
.btn.btn-skin{
    border:0px;
    background-color: $skin-color;
    color:#fff;
     &:hover,&:focus,&.focus,&.active,&.focus:focus,&.active:focus{
        background-color: #000;
        box-shadow: 0px 0px 20px rgba($skin-color,.35);
        color:#fff;
    }
}
.btn-link{
    color: $skin-color;
    &:hover{
        color: #999;
    }
}