/*
08 - Hero Templates Style
*/
.fullscreen-hero{
    height: 100vh;
}
.half-hero{
    height:auto;
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.hero{
    position:relative;
    .hero-overlay{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba($skin-color,.75);
        z-index: 1;
        &.hero-gradient{
                background-color: rgba($skin-color,.5);
     background-image: -webkit-linear-gradient(0deg, rgba($skin-color,.75), rgba($skin-secondary,.75));
     background-image: linear-gradient(90deg, rgba($skin-color,.75), rgba($skin-secondary,.75));
        }
    }
    &.dark{
        .text-large,p{
            color:#fff;
        }
    }
    .text-large{
        font-size: 4rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        font-weight: 900;
        text-transform:uppercase;
    }
    .lead{
        margin-bottom: 2rem;
        opacity: .75;
    }
}
.hero-parallax{
    height: 100%;
    width:100%;
    position: relative;
    z-index: 4;
}
.hero-inner{
    display: table;
    width: 100%;
    height: 100%;  
    position:relative;
    .hero-content{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}
.mouse-down{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    text-align: center;
    z-index:99;
    a{
        color: #fff;
        font-size: 3rem;
        &:hover{
            color:$skin-color;
        }
    }
}
.parallax-text{
    h2{
        color:#fff;
        font-size: 3.5rem;
        line-height: 5.5rem;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $title-font;
    }
}

