/*
07 - navigation start
*/
.navbar .nav-link{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    @include transition (all .3s);
}
.navbar-light.navbar{
    border-bottom: 1px solid rgba(#000,.05);
    background-color:#fff;
    z-index: 999!important;
    width:100%!important;
}
.is-sticky .navbar{
    position: fixed;
    left:0;
    top:0;
}
.navbar.navbar-light{
   li.active>.nav-link,li.show>.nav-link,.nav-link.active,.nav-link:hover,.nav-link:focus{
       color: $skin-color;
   } 
}
.navbar.navbar-dark{
   li.active>.nav-link,li.show>.nav-link,.nav-link.active,.nav-link:hover,.nav-link:focus{
       color:#fff;
   } 
}
/*dropdown menu*/
.dropdown-menu{
    border-radius: 0px;
    border:0px;
    .dropdown-item{
        font-size: 14px;
        text-transform: capitalize;
        color:inherit;
        font-weight:400;
        &:hover,&:focus{
            background-color: transparent;
            color:$skin-color;
        }
    }
}
.navbar.navbar-dark{
    border-bottom: 0px;
    background-color:$skin-color;
    position: fixed;
    top:0;
    left:0;
    .nav-link{
        color: rgba(#fff,.8);
    }
    .nav-link.active,li.show .nav-link, .nav-link:hover{
        color: #fff;
    }
}
.navbar.navbar-light{
    background-color:#fff;
    .nav-link{
        color: rgba(#000,.75);
    }
    .nav-link.active,li.show .nav-link, .nav-link:hover{
        color:$skin-color;
    }
}
@media(min-width:992px){
    .navbar.navbar-expand-lg{
        padding-top:0px;
        padding-bottom: 0px;
        .nav-item{
            height: 75px;margin-left: 1.25rem;
            align-items: center;
            display: flex;
        }
        .nav-link{
            padding: 0;
        }
    }
    .dropdown-menu{
        margin-top: 0px;
        border: 1px solid $default-color;
        .dropdown-item{
            &:hover,&:focus,&.active{
                background-color: transparent;
                color: $skin-color;
            }
        }
    }
    .navbar.navbar-expand-lg{
        &.navbar-transparent{
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            width:100%;
            z-index: 999;
        }
    }
    .sticky-active.navbar.navbar-expand-lg.navbar-transparent{
        background-color: $skin-color;
        position: fixed;
        left:0;
        top:0;
        z-index: 999;
        animation: fadeInDown .35s;
        -webkit-animation: fadeInDown .35s;
    }
}