/*
13 - Pricing tables
*/
.price-box{
    background: transparent;
    text-align: center;
    border:1px solid $default-color;
    overflow: hidden;
    h3{
        margin: 0px;
        font-size: 1.25rem;
        padding: 20px 15px;
        border-bottom: 1px solid $default-color;
    }
    h2{
        font-size: 5rem;
    padding: 0px 15px;
    line-height: 3rem;
    margin: 34px 0;
        sup{
            font-size: 13px;
            font-family: $default-font;
            font-weight: 400;
            vertical-align: top;
            position: relative;
            left: 10px;
        }
    }
    ul{
        li{
            padding: 7px 0;
            &:nth-child(even){
                background-color: rgba($skin-color,.05);
            }
        }
    }
    &.best-value{
        position: relative;
        h3,h2{
            color: $skin-color;
        }
        .best-label{
            position: absolute;
            right: -40px;
            top: 16px;
            background: $skin-color;
            color:#fff;
            width: 160px;
            height: 40px;
            line-height: 40px;
            @include transform(rotate(45deg));
        }
    }
}
.price-footer{
    padding: 25px 15px;
}