/*
09 - Carousel Sliders
*/
.carousel-testimonials.owl-carousel.owl-theme{
    text-align: center;
    img{
        width: auto;
        max-width: 90px;
    }
    h6{
        color:#fff;
        margin-top:1rem;
        margin-bottom: 0px;
        text-transform:capitalize;
        font-weight:400;
        small{
            opacity: .75;
            font-size: 75%;
            display: inline-block;
            margin-left: .25rem;
        }
    }
}
.testimonial-card{
    p.lead{
        font-size:17px;
        line-height: 1.75;
        color:rgba(#000,.75);
        font-weight: 400;
        margin-bottom: 0px;
        padding: 3rem 2rem;
        padding-bottom: 90px;
        background-color:#fff;
        z-index: 1;
        position: relative;
        border-radius: 10px;
    }
    img{
        position: relative;
        z-index: 7;
        margin-top:-45px;
        margin-left: auto;
        margin-right: auto;
        border:4px solid #fff;
        box-shadow: 0px 4px 10px rgba(#333,.15);
    }
}
.owl-theme .owl-dots .owl-dot span{
    width:30px;
    height: 5px;
    padding: 0px;
    border-radius: 0px;
    background-color: $default-color;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: $skin-color;
}