/*

Project      : Dosis - Creative Agency Portfolio One Page Parallax Template
Version      : v1.0
Last update  : N/A
Author       : design_mylife
Support email: mylifedesign143@gmail.com
*/
/**************************************

=============TABLE OF CONTENT==========
01 - variables
02 - mixins
03 - preloader
04 - base
05 - buttons
06 - hero-social-bar
07 - navbar
08 - hero-templates
09 - sliders
10 - icon-box
11 - cta
12 - team
13 - pricing
14 - portfolio
15 - contact
16 - footer
17 - responsive
***************************************/

/***** Google fonts import ************/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500,600,700,900');
@import "_variables.scss";
@import "_mixins.scss";
@import "_preloader.scss";
@import "_base.scss";
@import "_buttons.scss";
@import "_hero-social-bar.scss";
@import "_navbar.scss";
@import "_hero-templates.scss";
@import "_sliders.scss";
@import "_icon-box.scss";
@import "_cta.scss";
@import "_team.scss";
@import "_pricing.scss";
@import "_portfolio.scss";
@import "_contact.scss";
@import "_footer.scss";
@import "_responsive.scss";







